doctype html
html
    head
        title yandex first task
        meta(name="viewport", content="width=device-width", initial-scale=1, maximum-scale=1, user-scalable="no")
        meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
        link(rel="stylesheet", href="../vendor/bootstrap-recompile/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")

    body
        p
            | Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет
            | Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет
            | Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет
            | Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет
            | Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет
            | Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет Я некоторый текст привет привет

        -
         logoMap = {
            "ЮТэйр": "../static/image/utair-lg.jpg",
            "Донавия": "../static/image/donavia-lg.jpg",
            "Трансаэро": "../static/image/transaero-lg.png",
            "Победа": "../static/image/pobeda-lg.png",
            "ГазпромАвиа": "../static/image/gazpromAvia.gif"
         }
         shortNameMap = {
            "Airbus B777": "B777"
         }
         model = [
            ["out", "ДР1485", "ЮТэйр", "Airbus B777", "Uganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "у внуково вобще такого поля вроде нет"],
            ["in", "TK421", "ЮТэйр", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "поэтому я не знаю, что должно быть в примечаниях"],
            ["out", "OS7071", "Донавия", "Airbus B777", "Uga-glads", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "Увы, я никогда не летал"],
            ["out", "UN324", "Трансаэро", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "мне явно не хватает креативности"],
            ["in", "ДР148", "ГазпромАвиа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Штраф за превышение скорости"],
            ["out", "ЮТ480", "Победа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "У пилота инфаркт"],
            ["out", "ЮТ250", "ЮТэйр", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Долго не могли поймать мышь"],
            ["out", "ДР1485", "ЮТэйр", "Airbus B777", "Uganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "у внуково вобще такого поля вроде нет"],
            ["in", "TK421", "ЮТэйр", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "поэтому я не знаю, что должно быть в примечаниях"],
            ["out", "OS7071", "Донавия", "Airbus B777", "Uga-glads", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "Увы, я никогда не летал"],
            ["out", "UN324", "Трансаэро", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "мне явно не хватает креативности"],
            ["in", "ДР148", "ГазпромАвиа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Штраф за превышение скорости"],
            ["out", "ЮТ480", "Победа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "У пилота инфаркт"],
            ["out", "ЮТ250", "ЮТэйр", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Долго не могли поймать мышь"],
            ["out", "ДР1485", "ЮТэйр", "Airbus B777", "Uganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "у внуково вобще такого поля вроде нет"],
            ["in", "TK421", "ЮТэйр", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "поэтому я не знаю, что должно быть в примечаниях"],
            ["out", "OS7071", "Донавия", "Airbus B777", "Uga-glads", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "Увы, я никогда не летал"],
            ["out", "UN324", "Трансаэро", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "мне явно не хватает креативности"],
            ["in", "ДР148", "ГазпромАвиа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Штраф за превышение скорости"],
            ["out", "ЮТ480", "Победа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "У пилота инфаркт"],
            ["out", "ЮТ250", "ЮТэйр", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Долго не могли поймать мышь"],
            ["out", "ДР1485", "ЮТэйр", "Airbus B777", "Uganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "у внуково вобще такого поля вроде нет"],
            ["in", "TK421", "ЮТэйр", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "поэтому я не знаю, что должно быть в примечаниях"],
            ["out", "OS7071", "Донавия", "Airbus B777", "Uga-glads", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "Увы, я никогда не летал"],
            ["out", "UN324", "Трансаэро", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "мне явно не хватает креативности"],
            ["in", "ДР148", "ГазпромАвиа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Штраф за превышение скорости"],
            ["out", "ЮТ480", "Победа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "У пилота инфаркт"],
            ["out", "ЮТ250", "ЮТэйр", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Долго не могли поймать мышь"],
            ["out", "ДР1485", "ЮТэйр", "Airbus B777", "Uganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "у внуково вобще такого поля вроде нет"],
            ["in", "TK421", "ЮТэйр", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "поэтому я не знаю, что должно быть в примечаниях"],
            ["out", "OS7071", "Донавия", "Airbus B777", "Uga-glads", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "Увы, я никогда не летал"],
            ["out", "UN324", "Трансаэро", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "мне явно не хватает креативности"],
            ["in", "ДР148", "ГазпромАвиа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Штраф за превышение скорости"],
            ["out", "ЮТ480", "Победа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "У пилота инфаркт"],
            ["out", "ЮТ250", "ЮТэйр", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Долго не могли поймать мышь"],
            ["out", "ДР1485", "ЮТэйр", "Airbus B777", "Uganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "у внуково вобще такого поля вроде нет"],
            ["in", "TK421", "ЮТэйр", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "поэтому я не знаю, что должно быть в примечаниях"],
            ["out", "OS7071", "Донавия", "Airbus B777", "Uga-glads", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "Увы, я никогда не летал"],
            ["out", "UN324", "Трансаэро", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "мне явно не хватает креативности"],
            ["in", "ДР148", "ГазпромАвиа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Штраф за превышение скорости"],
            ["out", "ЮТ480", "Победа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "У пилота инфаркт"],
            ["out", "ЮТ250", "ЮТэйр", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Долго не могли поймать мышь"],
            ["out", "ДР1485", "ЮТэйр", "Airbus B777", "Uganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "у внуково вобще такого поля вроде нет"],
            ["in", "TK421", "ЮТэйр", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "поэтому я не знаю, что должно быть в примечаниях"],
            ["out", "OS7071", "Донавия", "Airbus B777", "Uga-glads", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "Увы, я никогда не летал"],
            ["out", "UN324", "Трансаэро", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "мне явно не хватает креативности"],
            ["in", "ДР148", "ГазпромАвиа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Штраф за превышение скорости"],
            ["out", "ЮТ480", "Победа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "У пилота инфаркт"],
            ["out", "ЮТ250", "ЮТэйр", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Долго не могли поймать мышь"],
            ["out", "ДР1485", "ЮТэйр", "Airbus B777", "Uganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "у внуково вобще такого поля вроде нет"],
            ["in", "TK421", "ЮТэйр", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "поэтому я не знаю, что должно быть в примечаниях"],
            ["out", "OS7071", "Донавия", "Airbus B777", "Uga-glads", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "Увы, я никогда не летал"],
            ["out", "UN324", "Трансаэро", "Airbus B777", "Ugaganda", "12:01", "Прилетел в 17:10. Закончена выд. багажа на А11", "мне явно не хватает креативности"],
            ["in", "ДР148", "ГазпромАвиа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Штраф за превышение скорости"],
            ["out", "ЮТ480", "Победа", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "У пилота инфаркт"],
            ["out", "ЮТ250", "ЮТэйр", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Долго не могли поймать мышь"],
            ["out", "ЮТ500", "ЮТэйр", "Airbus B777", "Ugaganda", "12:00", "Прилетел в 17:10. Закончена выд. багажа на А11", "Пьяный пассажир"],
         ]
        //.container-fluid
        div(class=["container-fluid", "ohidden", "readbg", "table"])
            input(type="checkbox", checked, name="in")
            label прилет
            input(type="checkbox", checked, name="out")
            label вылет
            //шапка
            div.header
                div(class=["row"])
                    div(class=["col-lg-1", "col-md-2", "col-sm-2", "col-xs-2"]) Тип и номер
                    div(class=["col-lg-2", "col-md-1", "col-sm-2", "col-xs-2"]) Кампания
                    div(class=["col-lg-1", "col-md-1", "col-sm-1", "col-xs-2", "hidden-i|phone45"]) Судно
                    div(class=["col-lg-1", "col-md-1", "col-sm-2", "col-xs-3"]) Назначение
                    div(class=["col-lg-2", "col-md-2", "col-sm-2", "col-xs-2"]) Время
                    div(class=["col-lg-2", "col-md-2", "col-sm-3", "hidden-xs"]) Статус
                    div(class=["col-lg-3", "col-md-3", "hidden-sm", "hidden-xs"]) Примечание
            div.table
                each item, index in model
                    div(class=["row", "invisible", "hide", "row-table", item[0]])
                        a(href=("#popup"+index))
                            div(class=["col-lg-1", "col-md-2", "col-sm-2", "col-xs-2", "direction-ceil"])
                                img(src="../static/image/prilet.png", class=["plain", item[0]=="in"?"rotate180":""])
                                span(class=["visible-xss-block"])= item[1]
                            div(class=["col-lg-2", "col-md-1", "col-sm-2", "col-xs-2", "logo-ceil","testhover", "nowrap"])
                                span.visible-lg-inline= item[2]
                                img(src=logoMap[item[2]], class=["companyLogo", "pull-right"])
                            div(class=["col-lg-1", "col-md-1", "col-sm-1", "col-xs-2", "hidden-ipho|ne45", "testhover"])
                                span(class=["hidden-sm", "hidden-xs"])= item[3]
                                span(class=["visible-sm-inline-block", "visible-xs-inline-block"])= shortNameMap[item[3]]
                            div(class=["col-lg-1", "col-md-1", "col-sm-2", "col-xs-3", "testhover", "point-destination-ceil"])= item[4]
                            div(class=["col-lg-2", "col-md-2", "col-sm-2", "col-xs-2", "testhover"])
                                span= item[5]
                                span(class=["hidden-xss"]) #{item[0] == "in" ? " - прилет" : " - вылет"}
                            div(class=["col-lg-2", "col-md-2", "col-sm-3", "hidden-xs", "testhover"])= item[6]
                            div(class=["col-lg-3", "col-md-3", "hidden-sm", "hidden-xs", "testhover"])= item[7]

        each item, index in model
            div(id="popup"+index).overlay
                .popup
                    a.close(href="#") ×
                    .content
                        |  #{item[1]} | #{item[2]]} | #{item[3]} | #{item[4]} | #{item[5]} | #{item[6]} | #{item[7]}
        p.hello "hello World"


        //переделать in out из классов в data